/*

  GLOBALS

------------------------------------------------------ */

*,
*:after,
*:before {
  @include box-sizing(border-box);
  margin : 0;
}

html,
body {
  font-size : 100%;
  margin : 0;
  padding : 0;
}

body {
  background : desaturate(darken(ghostwhite, 4.5), 36);
  color : #333;
  font-family : $type-sans;
}

a {
  color : #6EB6DA;
  text-decoration : none;

  &:hover,
  &:active {
    color : #fff;
  }
}


ul,
ol {
  list-style : none;
  margin : 0;
  padding : 0;

  li {
    display : inline-block;
  }
}




/* Header Style */
.main,
.container > header {
  margin : 0 auto;
  padding : 2em;
}

.container > header {
  text-align : center;
  background : rgba(0,0,0,0.01);
}

.container > header h1 {
  font-size : 2.625em;
  line-height : 1.3;
  margin : 0;
  font-weight : 300;
}

.container > header span {
  display : block;
  font-size : 60%;
  color : #e67e22;
  padding : 0 0 0.6em 0.1em;
}

/* Main Content */
.main {
  max-width : 69em;
}

.column {
  float : left;
  width : 50%;
  padding : 0 2em;
  min-height : 300px;
  position : relative;
}

.column:nth-child(2) {
  box-shadow : -1px 0 0 rgba(0,0,0,0.1);
}

.column p {
  font-weight : 300;
  font-size : 2em;
  padding : 0;
  margin : 0;
  text-align : right;
  line-height : 1.5;
}

.column a {
  border : 3px solid #b4c7da;
  padding : 0 15px;
  display : inline-block;
  margin : 20px 0;
}

.column a:hover {
  border-color : #fff;
}

/* To Navigation Style */
.codrops-top {
  background : #566472;
  background : rgba(255, 255, 255, 0.2);
  text-transform : uppercase;
  width : 100%;
  font-size : 0.69em;
  line-height : 2.2;
}

.codrops-top a {
  padding : 0 1em;
  letter-spacing : 0.1em;
  color : #fff;
  display : inline-block;
}

.codrops-top a:hover {
  background : rgba(255,255,255,0.8);
  color : #2c3e50;
}

.codrops-top span.right {
  float : right;
}

.codrops-top span.right a {
  float : left;
  display : block;
}

.codrops-icon:before {
  margin : 0 4px;
  speak : none;
  font-style : normal;
  font-weight : normal;
  font-variant : normal;
  text-transform : none;
  line-height : 1;
  -webkit-font-smoothing : antialiased;
}

.codrops-icon-drop:before {
  content : "\e001";
}

.codrops-icon-prev:before {
  content : "\e004";
}

@media screen and (max-width : 46.0625em) {
  .column {
    width : 100%;
    min-width : auto;
    min-height : auto;
    padding : 1em;
  }

  .column p {
    text-align : left;
    font-size : 1.5em;
  }

  .column:nth-child(2) {
    box-shadow : 0 -1px 0 rgba(0,0,0,0.1);
  }
}

@media screen and (max-width : 25em) {

  .codrops-icon span {
    display : none;
  }

}